# BUILD FILES
/bower_components/*
/node_modules/*
npm-debug.log
/build/*
/yarn-error.log
node_modules

# MISC FILES
.history
.DS_Store
.vscode
.vscode/*
.cache
.idea
.project
.settings
*.esproj
*.sublime-workspace
*.sublime-project
*.tmproj
*.tmproject
config.codekit3
prepros-6.config
mix-manifest.json
*.sql
*.sql.gz
storage/*

# COMPOSER
vendor/

# Craft
web/cpresources/
web/assets/
web/uploads/
web/resources/timestamp.*
web/resources/images/*
web/resources/*.svg
web/resources/*.png
web/resources/*.jpg
web/resources/*.jpeg

# Scripts
scripts/user_config.sh
scripts/dump*/

# Environment
.env

.ddev